@font-face {
    font-family: Norse;
    src: url(/font/Norse-Bold.woff2);
}

body {

height: 100vh;
margin: 0;
padding: 0;

}

h1, h2 {

font-weight: 500;

}


.sign-up-container {

display: flex;
height: 100vh;

}


.leaf-image {

width: 500px;
position: absolute;
height: 100vh;

}



.sign-up-form {

display: flex;
flex-direction: column;
margin-top: 0px;


}

.left-form,
.right-form {

display: flex;
flex-direction: column;

}

input {

width: 200px;
height: 20px;
border: 1px solid #E5E7EB;
border-radius: 3px;

}

input:focus {

outline: none;
box-shadow: 0.8px 0.8px 2px;
border: 1px solid blue;


}

.input-form {

display: flex;
gap: 100px;

}

input:user-invalid {

border: 1px solid red;

}

label {

font-size: 13px;

}





.style-form {

display: flex;
flex-direction: column;
box-shadow: 0.5px 0.5px 4px;
padding-left: 50px;
padding-bottom: 20px;
margin-top: 10px;
margin-bottom: 30px;

}


.heading-words,
.submit-form {

margin-left: 50px;
margin-top: 20px;
margin-bottom: 30px;

}

button {

color: white;
background-color: #596D48;
border-radius: 10px;
padding-left: 40px;
padding-right: 40px;
padding-top: 10px;
padding-bottom: 10px;
border: 0;
box-shadow: 2px 2px 2px grey;

}

a {

text-decoration: none;
color: #596D48;
font-weight: 900;

}

.image-container {

position: relative;
width: 1000px;
height: 500px;
background-color: #596D48;

}


.odin-logo {

position: absolute;
height: 120px;
width: 100px;
left: 150px;
top: 20px;
z-index: 1;

}

.odin-heading {

font-family: Norse, sans-serif;
font-size: 70px;
position: absolute;
color: white;
top: 200px;
left: 270px;
z-index: 1;

}

.transparent-background {

position: absolute;
background-color: rgba(0, 0, 0, 0.5);
width: 500px;
height: 150px;
top: 200px;

}

.para-position {

position: absolute;
top: 520px;
left: 130px;
color: white;


}

.credit {

color: white;
font-weight: 900;

}

