body {

height: 100vh;
margin: 0;
padding: 0;

}


.sign-up-container {

display: flex;
height: 100vh;
gap: 50px;

}


.leaf-image {

width: 900px;

}



.sign-up-form {

display: flex;
flex-direction: column;
margin-top: 50px;


}


.style-form {

display: flex;
gap: 70px;

}

.left-form,
.right-form {

display: flex;
flex-direction: column;
gap: 5px;

}

input {

width: 200px;
height: 20px;

}