body {

height: 100vh;
margin: 0;
padding: 0;

}

h1, h2 {

font-weight: 500;

}


.sign-up-container {

display: flex;
height: 100vh;

}


.leaf-image {

width: 500px;

}



.sign-up-form {

display: flex;
flex-direction: column;
margin-top: 50px;


}


.style-form {

display: flex;
gap: 30px;

}

.left-form,
.right-form {

display: flex;
flex-direction: column;

}

input {

width: 200px;
height: 20px;
border: 1px solid #E5E7EB;
border-radius: 3px;

}

input:focus {

outline: none;
box-shadow: 0.8px 0.8px 2px;
border: 1px solid blue;


}



label {

font-size: 13px;

}



.input-form {

display: flex;
gap: 100px;

}

.style-form {

display: flex;
flex-direction: column;
box-shadow: 0.5px 0.5px 4px;
padding-left: 50px;
padding-bottom: 20px;
margin-top: 10px;
margin-bottom: 30px;

}


.heading-words,
.submit-form {

margin-left: 50px;
margin-top: 20px;

}

button {

color: white;
background-color: #596D48;
border-radius: 10px;
padding-left: 40px;
padding-right: 40px;
padding-top: 10px;
padding-bottom: 10px;
border: 0;
box-shadow: 2px 2px 2px grey;

}

a {

text-decoration: none;
color: #596D48;
font-weight: 900;

}